    <!-- Navbar -->
    <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item is-size-3 josefin" href="/">
                  jeferson.com
                </a>
            
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>
            
              <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" href="/">
                    <i class="fas fa-home"></i>
                    &nbsp;
                    Home
                  </a>
            
                  <a data-scroll class="navbar-item" href="#about">
                    <i class="fas fa-user-graduate"></i>
                    &nbsp;
                    About
                  </a>

                  <a data-scroll class="navbar-item" href="#contact">
                    <i class="fas fa-address-book"></i>
                    &nbsp;
                    Contact
                  </a>

                  <a class="navbar-item" href="/facebook" target="_blank">
                    <i class="fab fa-facebook"></i>
                  </a>

                  <a class="navbar-item" href="/github" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>

                  <a class="navbar-item" href="/linkedin" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>

                  <a class="navbar-item" href="/perguntar">
                    <i class="fas fa-user-lock"></i>
                  </a>
            
                  
            
                  </div>
                </div>
            
              </div>
        </div>  
      </nav>
    <!-- ./Navbar -->