<%- include('partials/header'); %>

<%- include('partials/navbar'); %>

    <section class="hero is-large" id="parallax">
        <div class="hero-body">

          <h1 class="animate__animated animate__fadeInRight is-size-1 has-text-centered animated-h1" data-depth="0.20" id="scene">JEFERSON.COM</h1>
          <h2 class="is-size-2 has-text-centered writer">WebDeveloper Full Stack, Front-End / Back-End.</h2>
          <h2 class="animate__animated animate__lightSpeedInLeft animate__delay-1s is-size-3 has-text-centered animated-h2">
            <a id="scene" href="#contact">
              <button class="button is-link">Contato</button>
            </a> 
          </h2>
        </div>
      </section>

      <section class="hero is-large is-info"  id="about">
        <div class="hero-body">          
          
          </div>
      </section>

      <section class="hero is-large is-danger" id="contact">
        <div class="hero-body">
          <p class="title">
            Seção Contato
          </p>
          <p class="subtitle">
            Large subtitle
          </p>
        </div>
      </section>

<%- include('partials/footer'); %>