<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jeferson</title>
     <link rel="stylesheet" href="/css/bulma.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/css/login.css">
   
  </head>
  <body>

   <section>
       <div class="container">
           <div class="columns">
               <div class="column"></div>
               <div class="column is-5">
                <div class="card mt-6">
                    <div class="card-content ">
                      <h1 id="login-form" class="mt-3 mb-3 is-size-3 has-text-centered">LOGIN</h1>
                      <br>
                  
                      <div class="content">
                          <form action="/perguntar" method="GET">
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                  <input class="input is-link" type="text" placeholder="User">
                                  <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                  </span>
                                  <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                                </p>
                              </div>
                              <div class="field">
                                <p class="control has-icons-left">
                                  <input class="input is-link" type="password" placeholder="Password">
                                  <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                  </span>
                                </p>
                              </div>
                              <div class="field">
                                <p class="control mb-6">
                                  <button class="button is-primary mt-3">
                                    Login
                                  </button>
                                </p>
                              </div>
                          </form>
                        
                      </div>
                    </div>
                  </div>
               </div>
               <div class="column"></div>
               <div class="column"></div>
               <div class="column"></div>
               <div class="column"></div>
           </div>
       </div>
   </section>
</body>
</html>